@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple:wght@400&display=swap');



input[value="Dancing Script - Bold 700"] + label.wsf-label {
   font-family: 'Dancing Script', cursive !important;
}

input[value="Caveat - Regular 400"] + label.wsf-label {
   font-family: 'Caveat', cursive !important;
}

input[value="Shadows Into Light - Regular 400"] + label.wsf-label {
   font-family: 'Shadows Into Light', cursive !important;
}

input[value="Satisfy - Regular 400"] + label.wsf-label {
   font-family: 'Satisfy', cursive !important;
}

input[value="Indie Flower - Regular 400"] + label.wsf-label {
   font-family: 'Indie Flower', cursive !important;
}

input[value="Great Vibes - Regular 400"] + label.wsf-label {
   font-family: 'Great Vibes', cursive !important;
}

input[value="Zeyada - Regular 400"] + label.wsf-label {
   font-family: 'Zeyada', cursive !important;
}

input[value="Sacramento - Regular 400"] + label.wsf-label {
   font-family: 'Sacramento', cursive !important;
}

input[value="Cookie - Regular 400"] + label.wsf-label {
   font-family: 'Cookie', cursive !important;
}

input[value="Allura - Regular 400"] + label.wsf-label {
   font-family: 'Allura', cursive !important;
}

input[value="Alex Brush - Regular 400"] + label.wsf-label {
   font-family: 'Alex Brush', cursive !important;
}

input[value="Homemade Apple - Regular 400"] + label.wsf-label {
   font-family: 'Homemade Apple', cursive !important;
}

.cc-signature-preview label.wsf-label,
.cc-icon-select label.wsf-label {
   font-size: 35px !important;
   background-color: transparent !important;
   border: 1px solid #D7D7D7 !important;
   border-radius: 8px !important;
   color: #1A3050 !important;
}
.cc-signature-preview .wsf-field.wsf-button:checked + label.wsf-label,
.cc-icon-select .wsf-field.wsf-button:checked + label.wsf-label {
   border: 1px solid #86A232 !important;
   color: #1A3050 !important;
   box-shadow: 0 0 0 2px #86A232 !important;
}
.cc-signature-preview .wsf-field.wsf-button:checked:focus + label.wsf-label,
.cc-icon-select .wsf-field.wsf-button:checked:focus + label.wsf-label {
   box-shadow: 0 0 0 2px #86A232 !important;
}

.cc-icon-select .wsf-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   gap: 20px;
}
.cc-icon-select .wsf-grid .wsf-tile {
   max-width: unset !important;
}


.wsf-grid.wsf-sections fieldset {
   border-bottom: 1px solid #D8D8D8;
   padding-top: 16px;
   padding-bottom: 8px;
}
.wsf-grid.wsf-sections fieldset h2 {
   margin: 0;
   font-size: 24px;
}
.wsf-grid.wsf-sections fieldset h3 {
   margin: 0;
   font-size: 16px;
   line-height: 41px;
}
.wsf-grid.wsf-sections fieldset .wsf-field-wrapper {
   margin-bottom: 0px;
}


.wsf-grid.wsf-sections fieldset .cc-is-signature .wsf-grid.wsf-fields,
.wsf-grid.wsf-sections fieldset .cc-is-icon .wsf-grid.wsf-fields {
   display: grid;
   grid-template-columns: auto 1fr;
}
.wsf-grid.wsf-sections fieldset .cc-is-signature .wsf-grid.wsf-fields > div,
.wsf-grid.wsf-sections fieldset .cc-is-icon .wsf-grid.wsf-fields > div {
   max-width: unset !important;
}
.wsf-grid.wsf-sections fieldset .cc-is-signature .wsf-grid.wsf-fields .wsf-label-wrapper label,
.wsf-grid.wsf-sections fieldset .cc-is-icon .wsf-grid.wsf-fields .wsf-label-wrapper label {
   padding: 0 !important;
}

.cc-color-swatches input[type="radio"].wsf-field.wsf-color:checked + label.wsf-label > span {
   box-shadow: inset 0 0 0 3px #fff !important;
   border-color: #86a232 !important; 
}
.cc-color-swatches input[type="radio"].wsf-field.wsf-color + label.wsf-label > span {
   border: 2px solid #ceced2 !important;
}