body.cc-cart-item-edit .generate-set-preview {
   display: none;
}
body.cc-cart-item-edit .cc-customizer-sections {
   display: block;
}
body.cc-cart-item-edit .set-preview-section {
   display: block !important;
}
body.cc-cart-item-edit .cc-add-to-cart-button-wrapper > div {
   display: block !important;
   margin-bottom: 30px !important;
}
body.cc-cart-item-edit .cc-add-to-cart-button-wrapper button {
   margin: 0 !important;
}

body.woocommerce-cart.woocommerce-page .quantity {
   display: none !important;
}

body.woocommerce-page dl.variation {
   display: none;
}

body.woocommerce-cart .elementor-widget-woocommerce-cart .woocommerce table.shop_table.cart .actions .button[name="update_cart"] {
   display: none !important;
}

body.woocommerce-cart .button.cc-edit-customization {
   color: var( --e-global-color-accent ) !important;
   padding: .88rem 2rem;
   border: 2px solid var( --e-global-color-accent );
   border-radius: 8px;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 1px;
}



.elementor-menu-cart__product-name a:after {
   content: 'Edit Customization';
   display: inline-flex;
   font-size: 14px;
   line-height: 1em;
   /* padding: 2px 6px; */
   color: var( --e-global-color-accent );
   /* background-color: #F1F2F1; */
   text-decoration: underline;
}