.cc-comparison-table-mobile {
   display: none;
}



.cc-table-heading {
   display: flex;
   align-items: center;
}

.cc-item-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
}





.cc-item-feature,
.cc-item-features {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: flex-end; */
}
.cc-item-feature-text {
   text-align: center;
}



.cc-item-footer  {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: flex-end; */
}


.cc-comparison-table-desktop {
   display: grid;
   grid-template-columns: 1fr 30% 8px 30%;
   align-items: start;
}

.cc-table-heading-column {
   display: flex;
   flex-direction: column;
}
.cc-table-heading-column > div { /* Assuming each cell is a div */
   display: flex;
   align-items: center;
   position: relative;
   height: 60px;
}
.cc-table-item-column > div.cc-footer {
   height: auto;
}
.cc-item-feature-heading:after {
   content: '';
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   border-top: 1px solid var(--divider-color);
}
.cc-item-feature-heading:after {
   content: '';
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   border-top: 1px solid var(--divider-color);
}



.cc-table-item-column {
   display: flex;
   flex-direction: column;
   border-radius: 8px;
}
.cc-table-item-column > div {
   height: 60px;
}
.cc-table-item-column > div.cc-footer {
   height: auto;
   padding: 16px;
}
.cc-item-title {
   display: flex;
   align-items: center;
   justify-content: center;
}
.cc-item-feature-content .cc-item-feature-heading {
   display: none;
}
.cc-item-feature-content {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   flex-direction: column;
}
.cc-item-feature-content:after {
   content: '';
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   border-top: 1px solid var(--divider-color);
}



.cc-table-items-divider-column {
   display: flex;
   flex-direction: column;
}
.cc-table-items-divider-column > div {
   position: relative;
   height: 60px;
}
.cc-table-item-divider-column > div.cc-footer {
   height: auto;
}
.cc-table-items-divider-column > div:after {
   content: '';
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   /* border-top: 1px solid #ccc; */
}
.cc-table-items-divider-column > div:first-child:after {
   border-top: none;
}
.cc-table-items-divider-column > div:last-child:after {
   border-top: none;
}

.cc-item-button.elementor-button {
   width: 100%;
}


@media(max-width: 767px) {
   .cc-comparison-table-desktop {
      display: none;
   }
   .cc-comparison-table-mobile {
      display: block;
   }
   .cc-comparison-table-mobile-wrapper {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-auto-rows: minmax( 51px, auto );
      background-color: #fff;
      border-radius: 8px;
   }
   .cc-item-title {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      text-align: center;
   }
   .cc-item-feature-heading {
      padding: 7px 11px;
      border-top: 1px solid var(--divider-color);
      display: flex;
      align-items: center;
   }
   .cc-item-feature-heading:after {
      display: none;
   }
   .cc-item-feature-content {
      padding: 4px;
   }
   .cc-comparison-table-mobile-button {
      margin-top: 24px;
   }

}

.cc-item-feature-icon svg {
   width: auto;
}