.elementor-widget-cc-popups-placeholder {
   width: 100%;

}
.elementor-widget-cc-popups-placeholder .dialog-widget-content {
   position: relative;
   border-radius: none;
   box-shadow: none;
}
.elementor-widget-cc-popups-placeholder .dialog-close-button {
   z-index: 999;
}

.elementor-widget-cc-popups-placeholder > .elementor-widget-container {
   overflow: hidden;
}
body:not(.elementor-editor-active) .elementor-widget-cc-popups-placeholder > .elementor-widget-container:empty {
   display: none;
}

.elementor-widget-cc-popups-placeholder .dialog-lightbox-widget {
   position: relative;
   height: auto !important;
   max-height: unset !important;
}
.elementor-widget-cc-popups-placeholder .dialog-lightbox-widget-content {
   width: 100%;
}

.elementor-widget-cc-popups-placeholder .dialog-message.dialog-lightbox-message {
   height: auto !important;
   max-height: unset !important;
}